.footer.text-center
    .col-md-4
      h3 Tecnologías utilizadas
      ul.list-unstyled
        a(href="https://www.javascript.com/")
          li JavaScript
        a(href="https://nodejs.org/")
          li NodeJS
        a(href="https://angularjs.org/")
          li AngularJS
        a(href="http://expressjs.com/es/")
          li ThreeJS 
    .col-md-4
      h3 Trabajo Terminal 2015A-021
      .col-md-6
        h5 Sinodales
        ul.list-unstyled
          a(href="https://www.javascript.com/")
            li Edmundo
          a(href="https://nodejs.org/")
            li Daniel
          a(href="https://angularjs.org/")
            li Ricardo
      .col-md-6
        h5 Directores
        ul.list-unstyled
          a(href="https://www.javascript.com/")
            li Santi
          a(href="https://nodejs.org/")
            li Noé
    .col-md-4
      h3 Desarrolladores
      ul.list-unstyled
        a(href="https://www.javascript.com/")
          li Steff
        a(href="https://nodejs.org/")
          li Aldo
        a(href="https://angularjs.org/")
          li Ivan