// SHEC Footer

.footer.text-center
  .col-md-3
    h3 Tecnologías utilizadas
    ul.list-unstyled
      .col-md-6
        a(href="https://www.javascript.com/")
          li JavaScript
        a(href="https://nodejs.org/")
          li NodeJS
      .col-md-6  
        a(href="http://expressjs.com/es/")
          li ExpressJS
        a(href="https://github.com/sequelize/sequelize")
          li Sequelize 
  .col-md-6
    h3 Jurado Evaluador
    .col-md-6
      h4 Sinodales
      ul.list-unstyled
        a(href="https://www.javascript.com/")
          li Edmundo Rene Camarillo
        a(href="https://nodejs.org/")
          li Daniel Cruz
        a(href="https://angularjs.org/")
          li Ricardo Martinez Rosales
    .col-md-6
      h4 Directores
      ul.list-unstyled
        a(href="https://www.javascript.com/")
          li Miguel Santiago Suarez Castañón
        a(href="https://nodejs.org/")
          li Luz Noé Oliva Moreno
  .col-md-3
    h3 Desarrolladores
    ul.list-unstyled
      a(href="https://www.javascript.com/")
        li Estefania Vargas Espinosa
      a(href="https://nodejs.org/")
        li Aldo Botello Téllez
      a(href="https://angularjs.org/")
        li David Ivan Rangel Caltzonci