extends layout
block content
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        a(href="#").navbar-brand SHEC
      ul.nav.navbar-nav.navbar-right
        li
          a(data-toggle="modal" data-target="#newUser") Nuevo Usuario
        #newUser.modal.fade(role='dialog')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button", data-dismiss="modal" ) x
                h4.modal-title Registrate para acceder a SHEC
              .modal-body
                .form-group
                  label.control-label(for='userName') Username
                  input.form-control(id='userName',type="text", placeholder="Elije tu nombre de usuario")
                .form-group
                  label.control-label(for='email') Edad
                  input.form-control(id='email',type="email", placeholder="Indica tu edad")
                .form-group
                  label.control-label(for='sell') Sexo:
                  select.form-control(id="sell")
                    option Selecciona tu sexo
                    option M
                    option F
              .modal-footer
                button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
                button.btn.btn-primary(type="button") Registrar
        li
          a(data-toggle="modal" data-target="#oldUser") Usuario Registrado
        #oldUser.modal.fade(role='dialog')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button", data-dismiss="modal" ) x
                h4.modal-title Inicia sesi칩n para acceder a SHEC
              .modal-body
                .form-group
                  label.control-label(for='userName') Nombre de usuario
                  input.form-control(id='userName',type="text", placeholder="Indica tu nombre de usuario")
                .form-group
                  label.control-label(for='userPass') Contrase침a
                  input.form-control(id='userPass',type="password", placeholder="Indica tu contrase침a")
              .modal-footer
                button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
                button.btn.btn-primary(type="button") Iniciar sesi칩n

  .container
    h2.text-center.col-md-12 Entorno
      .container-well
        img(id="entorno", src="images/rv.jpg")
    
  include footer.jade
        
      
        
  


