extends layout
block content
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        a(href="#").navbar-brand SHEC
      ul.nav.navbar-nav.navbar-right
        li
          a(data-toggle="modal" data-target="#newUser") Nuevo Usuario
        #newUser.modal.fade(role='dialog')
          form(action="/users/create", method="post")
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type="button", data-dismiss="modal" ) x
                  h4.modal-title Registrate para acceder a SHEC
                .modal-body
                  .form-group
                    label.control-label(for='userName') Nombre de usuario
                    input.form-control(id='userName',type="text", placeholder="Indica tu nombre de usuario", name="username", required)
                  .form-group
                    label.control-label(for='userPass') Contraseña
                    input.form-control(id='userPass',type="password", placeholder="Indica tu contraseña", name="password", required)
                  .form-group
                    label.control-label(for='age') Edad
                    input.form-control(id='age',type="number", placeholder="Indica tu edad", name="age", required)
                .modal-footer
                  button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
                  button.btn.btn-primary(type="submit") Registrar
        li
          a(data-toggle="modal" data-target="#oldUser") Log In
        #oldUser.modal.fade(role='dialog')
          form(action="/users/login", method="post")
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type="button", data-dismiss="modal" ) x
                  h4.modal-title Inicia sesión para acceder a SHEC
                .modal-body
                  .form-group
                    label.control-label(for='userName') Nombre de usuario
                    input.form-control(id='userName',type="text", placeholder="Indica tu nombre de usuario", name="username", required)
                  .form-group
                    label.control-label(for='userPass') Contraseña
                    input.form-control(id='userPass',type="password", placeholder="Indica tu contraseña", name="password", required)
                .modal-footer
                  button.btn.btn-default(type="button",data-dismiss="modal") Cancelar
                  button.btn.btn-primary(type="submit") Iniciar sesión

  //Main container
  .container
    h2.text-center.col-md-12 Sistema Háptico de Entrenamiento para Ciclismo
  .container
    include carousel.jade
  include footer.jade
        
      
        
  


