doctype html
html
  head
    title= title
    link(
      rel='stylesheet', 
      href='/bootstrap/dist/css/bootstrap.css'
    )
    script( src = '/bootstrap/dist/js/bootstrap.min.js' )
  body
    block content
