extends layout
block content
  //Navigation Bar
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        a(href="#").navbar-brand= user.username
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/") Log Out
        li
          a(href="/"+user.username) Entorno
  .container
    table.table.table-striped
      thead.thead-inverse
        tr
          th # de Sesión
          th Fecha de Sesión
          th Ruta
          th Distancia Recorrida (Km)
          each sess, index in user.Sessions
            tbody
              tr
                td= index+1
                td= sess.datesession
                td Méx.-Qro.
                td= Math.floor((Math.random()*100)+1)
        
            
