extends layout
block content
  //Navigation Bar
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        a(href="#").navbar-brand= user.username
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/") Log out
        li
          a(href="/"+user.username+"/performance") MD
        
  //Main container
  table#controls
        tr
          td#fps(colspan='2', align='right')
        tr
          th
            label(for='resolution') Resolution :
          td
            select#resolution(style='width:100%')
              option(selected='', value='high') High (1024x768)
        tr
          th
            label(for='lanes') Lanes :
          td
            select#lanes
              option(selected='') 3
        tr
          th
            label(for='roadWidth')
              | Road Width (
              span#currentRoadWidth
              | ) :
          td
            input#roadWidth(type='range', min='500', max='3000', title='integer (500-3000)')
        tr
          th
            label(for='cameraHeight')
              | CameraHeight (
              span#currentCameraHeight
              | ) :
          td
            input#cameraHeight(type='range', min='500', max='5000', title='integer (500-5000)')
        tr
          th
            label(for='drawDistance')
              | Draw Distance (
              span#currentDrawDistance
              | ) :
          td
            input#drawDistance(type='range', min='100', max='500', title='integer (100-500)')
        tr
          th
            label(for='fieldOfView')
              | Field of View (
              span#currentFieldOfView
              | ) :
          td
            input#fieldOfView(type='range', min='80', max='140', title='integer (80-140)')
        tr
          th
            label(for='fogDensity')
              | Fog Density (
              span#currentFogDensity
              | ) :
          td
            input#fogDensity(type='range', min='0', max='50', title='integer (0-50)')
  h2.text-center.text-primary(id="instrucc") El entorno se desplegará en 5 segundos, sube ahora.
  .col-md-8
    #racer
      canvas#canvas
        | Sorry, this example cannot be run because your browser does not support the <canvas> element
      |     Loading...
    //audio#music
      source(src='music/racer.ogg')
      source(src='music/racer.mp3')
    span#mute
  .col-md-4.text-center
    h2 Tiempo de recorrido:
    h2(id = "crono") 00:00:00
    br
    a(href="/"+user.username+"/create_performance")
      button.btn.btn-primary(id = "stop") Detener
    

      
    script.
      $(document).on("ready", function(){
        $("#controls").hide();
      });
  

        
      
        
  


